aiohttp==3.11.11
yt-dlp==2025.6.9
chardet==5.2.0
edge_tts==7.2.8
grpcio==1.69.0
json_repair==0.35.0
pydub==0.25.1
reportlab==4.2.5
simplejson==3.19.3
speechrecognition==3.17.0
faiss-cpu
sentence-transformers
numpy
langchain>=0.3
langchain-core>=0.3
langchain-mcp-adapters>=0.1
langchain-google-genai>=2.0
langchain-ollama>=0.3
langgraph>=0.4
